# ALUNOS: 

- Aluno1: __Antonio_____________________________________
- Aluno2: __Danilo____________________________________
- Aluno3: __Pedro___________________________________


# CIÊNCIA DE DADOS

## Etapas previstas para realizar Análise e Tratamento de Dados:
- Importar as bibliotecas necessárias 
- Importar a base de dado e realizar o merge, caso necessário
- Tratamento dos Dados
- Visualização dos dados
- Verificar a base estatística dos dados numéricos e não numéricos
- Verificar as colunas categóricas
- Análise da base de dados
- Conclusões obtidas

## Análise de Custos e Desperdícios de Materiais 

O desafio consiste no gerenciamento de recursos próprios: controlar custos crescentes, evitar desperdícios e garantir que os insumos sejam utilizados de forma eficiente e adequada. Os dados de consumo mensal trazem informações ricas sobre materiais, medicamentos, operações, centros de custo, especialidades médicas e estabelecimentos. A partir deles, é possível identificar
padrões de uso, prever demandas futuras e, principalmente, analisar perdas e desperdícios. Neste
desafio, os alunos deverão aplicar os conhecimentos adquiridos em sala de aula para explorar essas
informações e propor soluções práticas que apoiem a gestão hospitalar.

## Mineração de Dados
- Explorar e preparar os dados de consumo mensal. 
- Mapear itens com maior impacto financeiro e identificar padrões de consumo por material, operação, centro de custo e especialidade. 
- Consumos atípicos (picos sazonais não justificados).
- Itens subutilizados ou de baixa rotatividade.
- Identificar itens similares (ex.: medicamentos com a mesma finalidade terapêutica) e avaliar sobreposição de consumo.

## Inteligência Artificial
- Desenvolver modelos de previsão de consumo
- Aplicar metodologias para agrupar especialidades e centros de custo com padrões de consumo semelhantes.
- Implementar detecção de anomalias para identificar consumos desproporcionais, potenciais desperdícios e possíveis substituições por itens similares de menor custo.

## Resultados Esperados:
- Evolução do consumo mensal.
- Comparativo de consumo.
- Indicadores de perdas e desperdícios (consumo anômalo, estoques sem giro, itens de alto custo com alternativas similares).
- Previsão de consumo para apoiar planejamento de compras.
- Grupos de especialidades/centros de custo com padrões de consumo similares.
- Lista de possíveis anomalias e desperdícios detectados.
- Recomendações estratégicas para otimização do uso de recurso próprio.
Bônus: outras analises não indicadas acima

## Importar as bibliotecas necessárias e a base de dados. Realizar o merge, caso necessário e Realizar a visualização da mesma

In [1]:
# Importar as bibliotecas
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# Abre o arquivo Excel movimento_estoque_faturamento.xlsx sem carregar dados
xls = pd.ExcelFile('data/movimento_estoque_faturamento.xlsx')
# Pega todos os nomes de abas, exceto "Query" 
abas = [a for a in xls.sheet_names if a.lower() != 'query']

In [3]:
# Armazena os DataFrames de cada aba em uma lista
dfs = []  

for aba in abas:
    
    df = pd.read_excel(xls, sheet_name=aba)
    dfs.append(df)

In [4]:
# Concatena todos os DataFrames das abas em um só
df_arquivo1 = pd.concat(dfs, ignore_index=True)

# carrega o segundo arquivo Excel
df_arquivo2 = pd.read_excel('data/dimensao_material_hospital.xlsx')

In [ ]:
# realizar o merge
#df_final = pd.merge(df_arquivo1, df_arquivo2, on='id_item')

In [ ]:
# Salvar os DataFrames em CSV
df_arquivo1.to_csv('data/df_movimentacoes.csv', index=False)
df_arquivo2.to_csv('data/df_itens.csv', index=False)

In [2]:
# Para carregar
movimentacoes = pd.read_csv('data/df_movimentacoes.csv')
itens = pd.read_csv('data/df_itens.csv')

C:\Users\pedro\AppData\Local\Temp\ipykernel_26708\47614966.py:2: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  movimentacoes = pd.read_csv('data/df_movimentacoes.csv')

In [ ]:
# Apresentando todas as colunas do DataFrame movimentações
display(movimentacoes)

,ds_centro_custo,cd_centro_custo,ds_estabelecimento,cd_material,cd_acao,nr_atendimento,dt_movimento_estoque,cd_local_estoque,ds_local_estoque,cd_conta_contabil,...,ds_operacao,cd_operacao,dt_referencia,qt_estoque,vl_estoque,vl_movimento,vl_consumo,qt_consumo,vl_movimento_2,id_item
0,Posto Carambeí,9722,Laboratorio Unimed Ponta Grossa,49862,1,NaN,2024-10-17 15:46:02.000,537,Posto Carambeí,71111911113905.0,...,Consumo,1,2024-10-01 00:00:00.000,1.0,1.89,1.89,1.89,1.0,1.89,6910249862
1,SADT - RADIOLOGIA,9112,Hospital Geral Unimed,42281,1,NaN,2024-10-17 13:49:55.000,11,Almoxarifado,71111911113905.0,...,Consumo,1,2024-10-01 00:00:00.000,3.0,64.35,64.35,64.35,3.0,64.35,6910242281
2,Coleta Ambulatorial,9765,Laboratorio Unimed Ponta Grossa,36215,1,NaN,2024-10-09 10:29:11.000,62,Almoxarifado Laboratório,71111911113103.0,...,Consumo,1,2024-10-01 00:00:00.000,500.0,13.35,13.35,13.35,500.0,13.35,6910236215
3,3º ANDAR - UNIDADE DE INTERNAÇÃO,9103,Hospital Geral Unimed,69295,1,NaN,2024-10-17 14:04:47.000,11,Almoxarifado,71111911113905.0,...,Consumo,1,2024-10-01 00:00:00.000,20.0,44.00,44.00,44.00,20.0,44.00,6910269295
4,3º ANDAR - UNIDADE DE INTERNAÇÃO,9103,Hospital Geral Unimed,16810,1,NaN,2024-10-17 14:04:47.000,11,Almoxarifado,71111911113905.0,...,Consumo,1,2024-10-01 00:00:00.000,1.0,1.82,1.82,1.82,1.0,1.82,6910216810
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4877535,FARMÁCIA CENTRAL,9306,Hospital Geral Unimed,51226,1,NaN,2023-12-12 14:24:43.000,57,CAF,71111911113105.0,...,Saída por troca comercial,141,2023-12-01 00:00:00.000,3.0,40.50,40.50,-40.50,-3.0,-40.50,6910251226
4877536,FARMÁCIA CENTRAL,9306,Hospital Geral Unimed,55434,1,NaN,2023-12-12 14:19:59.000,57,CAF,71111911113105.0,...,Saída por troca comercial,141,2023-12-01 00:00:00.000,2.0,34.49,34.49,-34.49,-2.0,-34.49,6910255434
4877537,FARMÁCIA CENTRAL,9306,Hospital Geral Unimed,3081,1,NaN,2023-11-24 16:32:22.000,57,CAF,71111911113205.0,...,Saída por troca comercial,141,2023-11-01 00:00:00.000,10.0,26.08,26.08,-26.08,-10.0,-26.08,691023081
4877538,FARMÁCIA CENTRAL,9306,Hospital Geral Unimed,71276,1,NaN,2023-11-24 16:53:57.000,57,CAF,71111911113205.0,...,Saída por troca comercial,141,2023-11-01 00:00:00.000,1.0,558.48,558.48,-558.48,-1.0,-558.48,6910271276
4877539,FARMÁCIA CENTRAL,9306,Hospital Geral Unimed,54736,1,NaN,2023-11-24 16:42:44.000,57,CAF,71111911113105.0,...,Saída por troca comercial,141,2023-11-01 00:00:00.000,1.0,2.00,2.00,-2.00,-1.0,-2.00,6910254736

In [ ]:
# Apresentando todas as colunas do DataFrame itens
display(itens)

,id_material_hospital,id_item,ds_material_hospital,ie_ativo,cd_classe_material,ds_classe_material,cd_subgrupo_material,ds_subgrupo_material,cd_grupo_material,ds_grupo_material,qt_conv_estoque_consumo,dt_cadastramento,cd_unidade_medida_compra,ds_unidade_medida_compra,cd_unidade_medida_estoque,ds_unidade_medida_estoque,cd_unidade_medida_consumo,ds_unidade_medida_consumo
0,3393,691023393,Assinatura de Periódicos (Jornais/Revistas/Afins),True,191,Assinaturas e Periodicos,60,Assinaturas de Periodicos,10,Serviços,1.0,1998-01-22 10:18:07.000,Un,Unidade,Un,Unidade,Un,Unidade
1,4922,691024922,Adesivo Instantâneo W096 20g (Super Bond Wurth),True,509,Adesivos e Complementos,159,Quimicos,6,Bens e Materiais de Manutenção e Conservação,1.0,1998-04-01 11:20:50.000,Un,Unidade,Un,Unidade,Un,Unidade
2,12504,6910212504,Livros Diversos,True,191,Assinaturas e Periodicos,60,Assinaturas de Periodicos,10,Serviços,1.0,1999-10-29 13:14:40.000,Un,Unidade,Un,Unidade,Un,Unidade
3,47292,6910247292,Serviços de Correio,True,343,Despesas com Correios,112,Serviços de Correios,10,Serviços,1.0,2007-05-29 10:04:44.000,Un,Unidade,Un,Unidade,Un,Unidade
4,47821,6910247821,Adesivo de Silicone Pro Incolor 280g (Wurth),True,509,Adesivos e Complementos,159,Quimicos,6,Bens e Materiais de Manutenção e Conservação,1.0,2007-06-12 10:59:35.000,Un,Unidade,Un,Unidade,Un,Unidade
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36296,57569,6910257569,Tomada Telefone RJ11 4 x 2 ART,True,174,Outros,55,Material Reposição Diversos,6,Bens e Materiais de Manutenção e Conservação,1.0,2015-06-16 15:54:55.000,Un,Unidade,Un,Unidade,Un,Unidade
36297,57570,6910257570,Caixa para eletroduto,True,174,Outros,55,Material Reposição Diversos,6,Bens e Materiais de Manutenção e Conservação,1.0,2015-06-16 15:57:44.000,Un,Unidade,Un,Unidade,Un,Unidade
36298,57571,6910257571,"Parafuso 1/4 x 5"" com vedação",True,174,Outros,55,Material Reposição Diversos,6,Bens e Materiais de Manutenção e Conservação,1.0,2015-06-16 16:00:51.000,Un,Unidade,Un,Unidade,Un,Unidade
36299,57572,6910257572,Mola Dorma,True,174,Outros,55,Material Reposição Diversos,6,Bens e Materiais de Manutenção e Conservação,1.0,2015-06-16 16:03:17.000,Un,Unidade,Un,Unidade,Un,Unidade
36300,57573,6910257573,Vidro 27 x 78,True,174,Outros,55,Material Reposição Diversos,6,Bens e Materiais de Manutenção e Conservação,1.0,2015-06-16 16:04:12.000,Un,Unidade,Un,Unidade,Un,Unidade

In [ ]:
# Apresentando todas as colunas do DataFrame movimentações
with pd.option_context("display.max_columns", None):
    display(movimentacoes)

,ds_centro_custo,cd_centro_custo,ds_estabelecimento,cd_material,cd_acao,nr_atendimento,dt_movimento_estoque,cd_local_estoque,ds_local_estoque,cd_conta_contabil,nr_lote_contabil,ds_operacao,cd_operacao,dt_referencia,qt_estoque,vl_estoque,vl_movimento,vl_consumo,qt_consumo,vl_movimento_2,id_item
0,Posto Carambeí,9722,Laboratorio Unimed Ponta Grossa,49862,1,NaN,2024-10-17 15:46:02.000,537,Posto Carambeí,71111911113905.0,NaN,Consumo,1,2024-10-01 00:00:00.000,1.0,1.89,1.89,1.89,1.0,1.89,6910249862
1,SADT - RADIOLOGIA,9112,Hospital Geral Unimed,42281,1,NaN,2024-10-17 13:49:55.000,11,Almoxarifado,71111911113905.0,NaN,Consumo,1,2024-10-01 00:00:00.000,3.0,64.35,64.35,64.35,3.0,64.35,6910242281
2,Coleta Ambulatorial,9765,Laboratorio Unimed Ponta Grossa,36215,1,NaN,2024-10-09 10:29:11.000,62,Almoxarifado Laboratório,71111911113103.0,NaN,Consumo,1,2024-10-01 00:00:00.000,500.0,13.35,13.35,13.35,500.0,13.35,6910236215
3,3º ANDAR - UNIDADE DE INTERNAÇÃO,9103,Hospital Geral Unimed,69295,1,NaN,2024-10-17 14:04:47.000,11,Almoxarifado,71111911113905.0,NaN,Consumo,1,2024-10-01 00:00:00.000,20.0,44.00,44.00,44.00,20.0,44.00,6910269295
4,3º ANDAR - UNIDADE DE INTERNAÇÃO,9103,Hospital Geral Unimed,16810,1,NaN,2024-10-17 14:04:47.000,11,Almoxarifado,71111911113905.0,NaN,Consumo,1,2024-10-01 00:00:00.000,1.0,1.82,1.82,1.82,1.0,1.82,6910216810
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4877535,FARMÁCIA CENTRAL,9306,Hospital Geral Unimed,51226,1,NaN,2023-12-12 14:24:43.000,57,CAF,71111911113105.0,NaN,Saída por troca comercial,141,2023-12-01 00:00:00.000,3.0,40.50,40.50,-40.50,-3.0,-40.50,6910251226
4877536,FARMÁCIA CENTRAL,9306,Hospital Geral Unimed,55434,1,NaN,2023-12-12 14:19:59.000,57,CAF,71111911113105.0,NaN,Saída por troca comercial,141,2023-12-01 00:00:00.000,2.0,34.49,34.49,-34.49,-2.0,-34.49,6910255434
4877537,FARMÁCIA CENTRAL,9306,Hospital Geral Unimed,3081,1,NaN,2023-11-24 16:32:22.000,57,CAF,71111911113205.0,NaN,Saída por troca comercial,141,2023-11-01 00:00:00.000,10.0,26.08,26.08,-26.08,-10.0,-26.08,691023081
4877538,FARMÁCIA CENTRAL,9306,Hospital Geral Unimed,71276,1,NaN,2023-11-24 16:53:57.000,57,CAF,71111911113205.0,NaN,Saída por troca comercial,141,2023-11-01 00:00:00.000,1.0,558.48,558.48,-558.48,-1.0,-558.48,6910271276
4877539,FARMÁCIA CENTRAL,9306,Hospital Geral Unimed,54736,1,NaN,2023-11-24 16:42:44.000,57,CAF,71111911113105.0,NaN,Saída por troca comercial,141,2023-11-01 00:00:00.000,1.0,2.00,2.00,-2.00,-1.0,-2.00,6910254736

## Tratamento dos dados: verificar e corrigir o domínios dos campos, se há dados faltantes, verificar cardinalidade, identificar colunas categóricas, de visualizar as informações estatísticas da base (dados numéricos e não numéricos)

### Resumo das bases

In [ ]:
# Visualizar o domínio das variáveis do  DataFrame movimentações
movimentacoes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4877540 entries, 0 to 4877539
Data columns (total 21 columns):
 #   Column                Dtype
---  ------                -----
 0   ds_centro_custo       object
 1   cd_centro_custo       int64
 2   ds_estabelecimento    object
 3   cd_material           int64
 4   cd_acao               int64
 5   nr_atendimento        float64
 6   dt_movimento_estoque  object
 7   cd_local_estoque      int64
 8   ds_local_estoque      object
 9   cd_conta_contabil     object
 10  nr_lote_contabil      float64
 11  ds_operacao           object
 12  cd_operacao           int64
 13  dt_referencia         object
 14  qt_estoque            float64
 15  vl_estoque            float64
 16  vl_movimento          float64
 17  vl_consumo            float64
 18  qt_consumo            float64
 19  vl_movimento_2        float64
 20  id_item               int64
dtypes: float64(8), int64(6), object(7)
memory usage: 781.5+ MB

In [ ]:
# Visualizar o domínio das variáveis do  DataFrame itens
itens.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36301 entries, 0 to 36300
Data columns (total 18 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id_material_hospital       36301 non-null  int64
 1   id_item                    36301 non-null  int64
 2   ds_material_hospital       36301 non-null  object
 3   ie_ativo                   36301 non-null  bool
 4   cd_classe_material         36301 non-null  int64
 5   ds_classe_material         36301 non-null  object
 6   cd_subgrupo_material       36301 non-null  int64
 7   ds_subgrupo_material       36301 non-null  object
 8   cd_grupo_material          36301 non-null  int64
 9   ds_grupo_material          36301 non-null  object
 10  qt_conv_estoque_consumo    36301 non-null  float64
 11  dt_cadastramento           36301 non-null  object
 12  cd_unidade_medida_compra   36301 non-null  object
 13  ds_unidade_medida_compra   36301 non-null  object
 14  cd_unidade_medida_estoque  36301 non-null  object
 15  ds_unidade_medida_estoque  36301 non-null  object
 16  cd_unidade_medida_consumo  36301 non-null  object
 17  ds_unidade_medida_consumo  36301 non-null  object
dtypes: bool(1), float64(1), int64(5), object(11)
memory usage: 4.7+ MB

### Tratamento dos valores nulos, caso existam

In [ ]:
# Valores nulos movimentações
movimentacoes.isnull().sum()

ds_centro_custo               0
cd_centro_custo               0
ds_estabelecimento            0
cd_material                   0
cd_acao                       0
nr_atendimento           132655
dt_movimento_estoque          0
cd_local_estoque              0
ds_local_estoque              0
cd_conta_contabil            85
nr_lote_contabil        4877540
ds_operacao                   0
cd_operacao                   0
dt_referencia                 0
qt_estoque                    0
vl_estoque                    0
vl_movimento                  0
vl_consumo                    0
qt_consumo                    0
vl_movimento_2                0
id_item                       0
dtype: int64

In [ ]:
#tratamento de dados nulos movimentações

In [ ]:
# Valores nulos itens
itens.isnull().sum()

id_material_hospital         0
id_item                      0
ds_material_hospital         0
ie_ativo                     0
cd_classe_material           0
ds_classe_material           0
cd_subgrupo_material         0
ds_subgrupo_material         0
cd_grupo_material            0
ds_grupo_material            0
qt_conv_estoque_consumo      0
dt_cadastramento             0
cd_unidade_medida_compra     0
ds_unidade_medida_compra     0
cd_unidade_medida_estoque    0
ds_unidade_medida_estoque    0
cd_unidade_medida_consumo    0
ds_unidade_medida_consumo    0
dtype: int64

### Seleção prévia de colunas da base movimentações:
### Pela análise prévia da base iremos desconsiderar as colunas cd_centro, cd_acao,cd_local_estoque, id_item e cd_operacao por serem colunas que representam a mesma informação em formato de código
### Também iremos desconsiderar vl_consumo, vl_movimento e vl_moviemento2 por trazerem exatamente as mesmas informações

### Por último iremos desconsiderar a coluna nr_lote_contabil por ser uma coluna com apenas valores nulos como visto na célula acima

In [11]:
# selecionando apenas as colunas desejadas do DataFrame movimentações
colunas_desejadas = ['ds_centro_custo', 'ds_estabelecimento',
       'cd_material', 'nr_atendimento', 'dt_movimento_estoque',
       'ds_local_estoque', 'cd_conta_contabil',
       'ds_operacao', 'dt_referencia',
       'qt_estoque', 'vl_estoque', 'qt_consumo',
]
novo_movimentacoes = movimentacoes[colunas_desejadas].copy()

novo_movimentacoes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4877540 entries, 0 to 4877539
Data columns (total 12 columns):
 #   Column                Dtype
---  ------                -----
 0   ds_centro_custo       object
 1   ds_estabelecimento    object
 2   cd_material           int64
 3   nr_atendimento        float64
 4   dt_movimento_estoque  object
 5   ds_local_estoque      object
 6   cd_conta_contabil     object
 7   ds_operacao           object
 8   dt_referencia         object
 9   qt_estoque            float64
 10  vl_estoque            float64
 11  qt_consumo            float64
dtypes: float64(4), int64(1), object(7)
memory usage: 446.6+ MB

### Seleção prévia de colunas da base itens:
### Pela análise prévia da base iremos desconsiderar as colunas cd_classe_material, cd_subgrupo_material, cd_grupo_material, cd_unidade_medida_compra, cd_unidade_medida_estoque, cd_unidade_medida_consumo por serem colunas que representam a mesma informação em formato de código
### As colunas cd_unidade_medida_compra ds_unidade_medida_compra, ds_unidade_medida_estoque e ds_unidade_medida_consumo também possuem a mesma informação, deixaremos uma delas
### Também será desconsiderado a coluna id_item pois a mesma informação está na coluna id_material_hospital
### dt_cadastramento  também será removida

In [9]:
# selecionando apenas as colunas desejadas do DataFrame itens
colunas_desejadas2 = ['id_material_hospital','ds_material_hospital','ie_ativo','ds_classe_material','ds_subgrupo_material','ds_grupo_material','qt_conv_estoque_consumo','ds_unidade_medida_compra',
]
novo_itens = itens[colunas_desejadas2].copy()

novo_itens.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36301 entries, 0 to 36300
Data columns (total 8 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id_material_hospital      36301 non-null  int64
 1   ds_material_hospital      36301 non-null  object
 2   ie_ativo                  36301 non-null  bool
 3   ds_classe_material        36301 non-null  object
 4   ds_subgrupo_material      36301 non-null  object
 5   ds_grupo_material         36301 non-null  object
 6   qt_conv_estoque_consumo   36301 non-null  float64
 7   ds_unidade_medida_compra  36301 non-null  object
dtypes: bool(1), float64(1), int64(1), object(5)
memory usage: 2.0+ MB

### Domínios incorretos, caso existam

In [ ]:
#verificar quantidade de valores distintos em cada coluna do DataFrame novo_movimentacoes
novo_movimentacoes.nunique()

ds_centro_custo             220
ds_estabelecimento            5
cd_material                3637
nr_atendimento           134087
dt_movimento_estoque    1522221
ds_local_estoque             61
ds_operacao                  12
dt_referencia                24
qt_estoque                 1608
vl_estoque                24549
qt_consumo                 1316
dtype: int64

### Alterando domínios de dt_movimento_estoque e dt_referencia para datetime;
### Alterando domínios de ds_centro_custo, ds_estabelecimento, ds_local_estoque, ds_operacao para category
###  Alterando domínio de nr_atendimento para integer

In [14]:
# alterando domínio das datas de objeto para datetime
novo_movimentacoes['dt_movimento_estoque'] = pd.to_datetime(novo_movimentacoes['dt_movimento_estoque'], errors='coerce')
novo_movimentacoes['dt_referencia'] = pd.to_datetime(novo_movimentacoes['dt_referencia'], errors='coerce')

# alterando domínio das colunas categóricas de objeto para category
colunas_categoricas = ['ds_centro_custo', 'ds_estabelecimento', 'ds_local_estoque', 'ds_operacao']
for coluna in colunas_categoricas:
    novo_movimentacoes[coluna] = novo_movimentacoes[coluna].astype('category')

#alterando nr_atendimento para integer
#novo_movimentacoes['nr_atendimento'] = pd.to_numeric(novo_movimentacoes['nr_atendimento'], errors='coerce').astype('int64')
novo_movimentacoes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4877540 entries, 0 to 4877539
Data columns (total 12 columns):
 #   Column                Dtype
---  ------                -----
 0   ds_centro_custo       category
 1   ds_estabelecimento    category
 2   cd_material           int64
 3   nr_atendimento        Int64
 4   dt_movimento_estoque  datetime64[ns]
 5   ds_local_estoque      category
 6   cd_conta_contabil     object
 7   ds_operacao           category
 8   dt_referencia         datetime64[ns]
 9   qt_estoque            float64
 10  vl_estoque            float64
 11  qt_consumo            float64
dtypes: Int64(1), category(4), datetime64[ns](2), float64(3), int64(1), object(1)
memory usage: 325.6+ MB

In [ ]:
#verificar quantidade de valores distintos em cada coluna do DataFrame novo_itens
novo_itens.nunique()

id_material_hospital        36301
ds_material_hospital        35830
ie_ativo                        2
ds_classe_material            579
ds_subgrupo_material          172
ds_grupo_material              36
qt_conv_estoque_consumo        58
ds_unidade_medida_compra       68
dtype: int64

### Alterando domínios de ds_classe_material, ds_subgrupo_material, ds_grupo_material, ds_unidade_medida_compra, para category
### Alterando ds_material_hospital para text

In [19]:
# alterando domínio das colunas categóricas de objeto para category
colunas_categoricas2 = ['ds_classe_material', 'ds_subgrupo_material','ds_grupo_material', 'ds_unidade_medida_compra']
for coluna in colunas_categoricas2:
    novo_itens[coluna] = novo_itens[coluna].astype('category')

# Alterando ds_material_hospital para text
novo_itens['ds_material_hospital'] = novo_itens['ds_material_hospital'].astype('string')

novo_itens.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36301 entries, 0 to 36300
Data columns (total 8 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id_material_hospital      36301 non-null  int64
 1   ds_material_hospital      36301 non-null  string
 2   ie_ativo                  36301 non-null  bool
 3   ds_classe_material        36301 non-null  category
 4   ds_subgrupo_material      36301 non-null  category
 5   ds_grupo_material         36301 non-null  category
 6   qt_conv_estoque_consumo   36301 non-null  float64
 7   ds_unidade_medida_compra  36301 non-null  category
dtypes: bool(1), category(4), float64(1), int64(1), string(1)
memory usage: 1.1 MB

### Cardinalidade dos dados

In [ ]:
# Verificando a cardinalidade de cada coluna do DataFrame novo_movimentacoes
print("Cardinalidade de cada coluna na base movimentações:")
cardinalidade = novo_movimentacoes.nunique()
print(cardinalidade)

Cardinalidade de cada coluna na base de dados:
ds_centro_custo             220
ds_estabelecimento            5
cd_material                3637
nr_atendimento           134087
dt_movimento_estoque    1522221
ds_local_estoque             61
ds_operacao                  12
dt_referencia                24
qt_estoque                 1608
vl_estoque                24549
qt_consumo                 1316
dtype: int64

In [ ]:
# Verificando a cardinalidade de cada coluna do DataFrame novo_itens
print("Cardinalidade de cada coluna na base itens:")
cardinalidade2 = novo_itens.nunique()
print(cardinalidade2)

Cardinalidade de cada coluna na base itens:
id_material_hospital        36301
ds_material_hospital        35830
ie_ativo                        2
ds_classe_material            579
ds_subgrupo_material          172
ds_grupo_material              36
qt_conv_estoque_consumo        58
ds_unidade_medida_compra       68
dtype: int64

### Tratamento dos valores duplicados, caso existam

In [22]:
# base movimentações
duplicadas = novo_movimentacoes.duplicated().sum()
print(f"Número de linhas duplicadas: {duplicadas}")

Número de linhas duplicadas: 30

In [23]:
# base itens
duplicadas2 = novo_itens.duplicated().sum()
print(f"Número de linhas duplicadas: {duplicadas2}")

Número de linhas duplicadas: 0

In [25]:
# Excluir linhas duplicadas base movimentações
novo_movimentacoes = novo_movimentacoes.drop_duplicates(keep='first')

### Excluir linhas e colunas desnecessárias

### Verificando informações estatísticas da base

In [ ]:
# base movimentações
# Exibe números sem notação científica
pd.set_option('display.float_format', '{:.2f}'.format)
# Exibe o describe apenas para colunas numéricas (exclui datas)
novo_movimentacoes.select_dtypes(include=['number']).describe()

       cd_material  nr_atendimento  qt_estoque  vl_estoque  qt_consumo
count   4877504.00      4744869.00  4877504.00  4877504.00  4877504.00
mean      25425.89      2275041.68        3.02       22.21        2.90
std       28179.24       224912.27      449.47      970.88      449.44
min           2.00         2140.00    -3600.00   -35475.00    -3600.00
25%         238.00      2063674.00        1.00        0.42        1.00
50%        4242.00      2297411.00        1.00        1.22        1.00
75%       52139.00      2475582.00        1.00        4.15        1.00
max       79674.00      2635382.00   990000.00   376210.29   990000.00

In [26]:
#base itens
# Exibe números sem notação científica
pd.set_option('display.float_format', '{:.2f}'.format)
# Exibe o describe apenas para colunas numéricas 
novo_itens.select_dtypes(include=['number']).describe()

       id_material_hospital  qt_conv_estoque_consumo
count              36301.00                 36301.00
mean               53883.46                    10.62
std                23141.55                   142.40
min                    2.00                     1.00
25%                42234.00                     1.00
50%                61059.00                     1.00
75%                71068.00                     1.00
max                80895.00                 15000.00

In [28]:
# base movimentações
# Para dados não numéricos
novo_movimentacoes.select_dtypes(include=['category']).describe()

,ds_centro_custo,ds_estabelecimento,ds_local_estoque,ds_operacao
count,4877510,4877510,4877510,4877510
unique,220,5,61,12
top,CENTRO CIRÚRGICO,Hospital Geral Unimed,Farmacia,Execução Prescrição
freq,962092,4807860,2797384,4468459

In [29]:
#base itens
# Para dados não numéricos
novo_itens.select_dtypes(include=['category']).describe()

,ds_classe_material,ds_subgrupo_material,ds_grupo_material,ds_unidade_medida_compra
count,36301,36301,36301,36301
unique,579,172,36,68
top,Material Especial OPME,Material Especial OPME,OPME,Unidade
freq,7524,7538,8951,24075

### Verificando cardinalidade

### Tratamento das colunas categóricas

### Análise da base

### Conclusões obtidas

# Matplotlib

Preparar visualizações das principais informações obtidas na base de dados apresentada pela UNIMED, como, por exemplo:
### - Apresentar os top 15 materiais (subgrupos) mais consumidos dos últimos anos (apresentando por ano)
### - Apresentar os 15 materiais (subgrupos) menos consumidos dos últimos anos (apresentando por ano)
### - Selecionar algumas especialidades médicas com consumos acima da média dos últimos anos (apresentando por ano)
### - Apresentar materiais com estoques parados nos últimos anos (apresentando por ano)

Busquem extrair mais ***três principais informações da base*** e preparem, de acordo com as boas práticas de visualização de dados (ex: cores, tamanhos, gráficos comparativos, legenda, tipo de gráfico, usem legendas, títulos, o annotate entre outros recursos vistos nas aulas presenciais)

In [20]:
# Apresentar os top 15 materiais (subgrupos) mais consumidos dos últimos anos (apresentando por ano)

In [21]:
# Apresentar os 15 materiais (subgrupos) menos consumidos dos últimos anos (apresentando por ano)

In [22]:
# Selecionar algumas especialidades médicas com consumos acima da média dos últimos anos (apresentando por ano)

In [23]:
# Apresentar materiais com estoques parados nos últimos anos (apresentando por ano)

## Extrair mais 3 principais informações da base e elaborem os gráficos para visualizá-las. Cada código em uma célula separada